/* font-size 100% = 16px */
/* 1em = 1rem = 16px */
.em{
    width: 10em;
    height: 10em;
    background-color: #ffa400;
    font-size: 32px;
    /* là đơn vị sẽ phụ thuộc vào font-size của chính nó hoặc phần tử chứa nó */
}
.rem{
    width: 10rem;
    height: 10rem;
    background-color: #ff7870;
    font-size: 32px;
    /* là đơn vị sẽ phụ thuộc vào font-size của thẻ html */
}