/* thẻ con đầu tiên */
p:first-child{
    color: red;
    font-size: 30px;
}

/* thẻ con cuối cùng */
p:last-child{
    color: red;
    font-size: 30px;
}

/* thẻ con thứ n */
p:nth-child(2){
    color: pink;
}